.partners {
  padding: var(--section-padding);
  background: var(--color-white);
}

.partners__carousel {
  margin-top: 10px;
  position: relative;
  padding: 0 50px;
}

.partners__carousel .swiper-button-next,
.partners__carousel .swiper-button-prev {
  color: var(--color-primary);
  width: 30px;
  height: 30px;
  transform: scale(0.6);
}

.partners__carousel .swiper-button-next {
  right: 15px;
}

.partners__carousel .swiper-button-prev {
  left: 15px;
}

.partners__carousel .swiper-button-next:hover,
.partners__carousel .swiper-button-prev:hover {
  color: var(--color-accent);
}

.partners__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.partners__logo-img {
  max-width: 260px;
  max-height: 110px;
  object-fit: contain;
  opacity: 1;
  transition: all var(--transition-normal);
}

.partners__logo-img:hover {
  opacity: 1;
  filter: grayscale(0%);
}

@media (max-width: 580px) {
  .partners__carousel {
    padding: 0 40px;
  }
  .partners__logo-img {
    max-width: 120px;
    max-height: 50px;
  }
  .partners__carousel .swiper-button-next {
    right: 5px;
  }
  .partners__carousel .swiper-button-prev {
    left: 5px;
  }
}
